.account-page{
    display: flex;
    flex-direction: column;
   align-items: center;

    background: white;
    min-height: 74vh;
}
.issued-orders-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.order{
    width: 90%
}
.order-collapsed{
    width: 50vw;
    .details{
        width: 100%;
    }
}
  .small-title{
    font-size: 1.5rem;
  }
  .accordion-body {
     padding:0
  }
  .account-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;;
    width: 50vw;

  }

  .acc-nav-button {
    background-color: transparent;
    color: black;
    font-weight: 600;
    border-radius: 0;
    border: none;
    font-size: larger;
    width: 400px;
  }

  .account-navbar Button:hover{
    background-color: gray;
    border-radius:0 ;
  }
.logout-button{
    width: 100px;
}
  @media screen and (max-width: 960px) {
    .order-collapsed{
        width: 95vw;
        .details{
            width: 100%;
        }
    }
  }