.favorite-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    border: 0.3px solid black; 
    background-color: white;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.favorite-info{
    display: flex;
    flex-direction: row;

}

.favorite-image{
    height: 100px;
    width: 80px;
}



.product-details label{
    font-weight: bold;
}

.delete-favorite {
    border: none;
    background-color: transparent;
    color: red;
    font-size: 30px;
}
.favorite-buttons{
    padding-right: 15px;
}

.add-to-cart-button{
    background-color: transparent;
    color: black;
}
.add-to-cart-button:hover{
    background-color:rgb(174, 174, 174);
}
.add-to-cart-button:hover,
.add-to-cart-button label{
    cursor: pointer;
   
}
.delete-favorite-button{
    background-color: transparent;
    color: red;
}
.delete-favorite-button:hover{
    background-color:rgb(174, 174, 174);
    cursor: pointer;
}
@media screen and (max-width:960px) {
   .favorite-item{
        width: 95vw;
   }
   
}

