.favorite-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    border: 1px solid black;
    background-color: white;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.favorite-info{
    display: flex;
    flex-direction: row;

}

.favorite-image{
    height: 100px;
    width: 80px;
}



.product-details label{
    font-weight: bold;
}

.delete-favorite {
    border: none;
    background-color: transparent;
    color: red;
    font-size: 30px;
}
.favorite-buttons{
    padding-right: 15px;
}
@media screen and (max-width:960px) {
   .favorite-item{
        width: 95vw;
   }
   
}

