.favorite-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: gray!important;
  }
.favorite-page h1{
    color: black;
}


