.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn{
  font-size: 15px;
}
.selected{
  background-color: gray;
  border-color: green;
}
.notSelected:hover,
.selected:hover{
  background-color: rgb(83, 83, 83);
}
.notSelected{
  background-color: transparent;
  color: black;
  border: 1px solid black;
}
