.homepage-container{
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
}
.small-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
   background-color: black;
   width: 100vw;
   height: 40px;
 }
 .small-bar label,a{
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: small;
   
 }
.shop-now-button{
  background-color: white;
  border: 2px solid black;
  color: black;
  transition: all 0.3s ease;
  width: 200px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
}
.shop-now-button:hover{
    background-color: black;
    color: white;
    border: 2px solid rgb(255, 0, 0);
}
.contact-us-container{
  width: 100vw;
  background-color: black;
}
video{
  height: 90vh;
  object-fit: cover;
  filter: brightness(0.5);
}
 .content{
  position: absolute;
  width: 100vw;
  top: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 500;
 }
 .titles{
  color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
  h1{
    font-size: 4rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
 }
.sepparator{
  width: 100vw;
  height: 5vw;
}
.advert2 {
  display: block;
  width: 100vw;
  height: 150px;
}
.video2{
  height: 100px;
  width: 100vw;
}
@media screen and (max-width: 960px) {
  video{
    height: 100vh;
  }
  .small-bar{
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 500px)  {
  h1{
    font-size: 3rem;
  }
}
  @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
  @import url('https://fonts.google.com/specimen/Russo+One');



