.login-container{
    display: flex;
    flex-direction: column;

    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 30%;
    height: 80vh;
}

Button{
    margin: 2%;
}
p{
    font-size: larger;
}
.login-container p,
.login-container label,
.login-container h2,
.login-container h3,
.login-container h4,
.login-container h5,
.login-container h6{
  color: black;
  font-size: large;
}
.login-container h1{
    color: black;
}

.title{
    font-size: 50px ;
}
.signup-ref{
    color: black;
    font-size: 20px;
}
@media screen and (max-width:960px) {
    .title{
        font-size: 20px;
    }
    .basic-addon{
        font-size: 20px;
    }
    .inputs{
        width: 50vw;
    }
}

@media screen and (max-width:500px) {
    .inputs{
        width: 70vw;
    }
}