.manageProducts-page label,
.manageProducts-page hr,
.manageProducts-page h2{
   color: black;
}
.manageProducts-page{
   background-color: rgb(135, 135, 135);
}
.floating {
   margin-bottom: 5px;
}
.floating label{
   margin-bottom: 10px;
}

.fixed-width-button {
  width: 60px !important; /* Set your desired fixed width for the buttons */
 }

