.manage-categories-page{
    background-color: rgb(135, 135, 135);
}
.tables{
    display: flex;
    flex-direction: row;
}

.tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tab h3{
    color: black;
}
.manage-categories-page h2{
    color: black;
}