@import url('https://fonts.googleapis.com/css2?family=Chivo');
.navbar{
  display: flex;
  height: fit-content;
  background-color: white;
  display: flex;
  top: 0;
  z-index: 999;
  height: 40px;
}
.nav{
  position:fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: right;
  background-color: white;
}
.nav-acive{
  display: none;
}
.user-icons{
  display: flex;
  flex-direction: row;
}

.admin-icons{
  display: flex;
  flex-direction: row;
}
.toggle{
  display: none;
}
.navi-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333; /* Set a default color for icons and labels */
  text-decoration: none !important; /* Remove underline from links */
  transition: all 0.3s ease; /* Smooth transition effect */
  height: 40px;
  padding: 10px;
}
a{
  text-decoration: none;
}
.navi-link:hover {
  background-color: gray; /* Change the background color to blue on hover */
  color: white !important; /* Change the text color to white on hover */
  cursor: pointer;
}
/* Style the icons and labels separately */
.navi-link svg {
  margin-right: 5px; /* Add spacing between icon and label */
}
@media screen and (max-width: 960px) {
  .nav{  position: absolute;
    display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
      top: 40px;
      height: 100vh;
      left: -110%;
      opacity: 0;
      transition: all 0.5s ease;
      background-color: white;
      margin-top: 0;
      padding-bottom: 5%;
  }
  .nav.active{
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 2;
  }
  .toggle{
    display: block;
    position:absolute;
    right: 3vw;
    cursor: pointer;
    background-color: white;
    border: none;
    height: 40px;
  }
  .navi-link{
    width: 200px;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3vh;
  }
}