.product-container {
  height: 300px;
  width: 200px;
  margin-bottom: 130px;
  justify-self: center;
  border: 2px solid rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Adjusted to align the image at the top */
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.product-container .product-image-container {
 
  width: 100%;
  overflow: hidden;
  position: relative;
}

.product-card-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  max-height: 196.6px;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
 
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  transform: translateY(70px);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.product-container:hover .card-details {
  transform: translateY(0);
}

.productName{
  font-weight: 900;
}
.productName:hover{
  cursor: pointer;
}

.go-to-details{
  background-color: white;
  color: black;
  font-weight: 600;
  border: 1px solid black ;
  border-radius: 0;
  margin-bottom: 10px;
}