.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page label,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6{
  color: black;
  font-size: large;
}
.page h1{
  color: black;
}
section{
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input[type="text"],
input[type="password"],
button,
textarea{
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
  }
  .offscreen {
    position: absolute;
    left: -9999px;
  }
  .valid {
    color: limegreen;
    margin-left: 0.25rem;
  }
  .invalid {
    color: red;
    margin-left: 0.25rem;
  }
  .errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }