.App{
    width: 100vw;
    max-width: 100%;
}
.blurred{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.4;
    transition: all 0.5s ease;
}
.not-blurred{
    transition: all 0.5s ease;
}